.title-small{
    font-weight: 200;
    font-size:15px;
    margin-left: 10px;

}
.text-small{
    font-weight: 300;
    font-size:14px;
}
.text-big{
    font-size:25px;
    font-weight: 300;
}
.title-big{
    font-size:35px;
    font-weight: 400;
    margin-left: 30px;
    line-height: 35px;
}
.text-blue{
    font-weight: 700;
    font-size: 25px;
    color: rgb(9, 150, 150);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex-box{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
}
.path{
    font-size: 15px;
    font-weight: 400;
    color: #888;
    margin-left: 30px;
}
.color-hr{
    width: 70px;
    height: 3px;
    background-color: rgb(29, 141, 167);
    float: left;
    margin:0 30px;
}
.font-text{
    font-weight: 400;
    margin: 10px 10px 10px 0;
}
@media (max-width: 768px) {
  .show-box,.goods {
      flex-direction: column;
      height: auto;
  }
  .dialog-main{
      width: 200px;
  }
  .banner{
    background-size: auto 100%;
    background-position: 20% 0;
  }
  .flex-box,.footer-link-quickly,header,.links {
    flex-direction: column;
    /* height: auto; */
  }

  .items {
      gap: 15px;
      flex-wrap: wrap;
  }
  .header-icon{
      display: none;
  }
}
